*{
  margin: auto;
  padding: 0;
}
.container{
  width: 500px;
  height: 800px;
  background-color: yellow;
}
.citybox{
  width: 498px;
  height: 500px;
  border: 2px solid white;
  margin-top: 15px;
  background-color: blue;
  position: relative;
}

#cityprova{
  background-image: url('https://cdn.pixabay.com/photo/2016/03/24/12/34/venice-1276664__340.jpg');
  background-size:cover;
  background-position: center;
}
h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  color: white;
}
.citybox .layover{
  position: absolute;
  top: 50%;
  left: 50%;
}
