*{
  margin: auto;
  padding: 0;
}
.container{
  width: 500px;
  height: 800px;
  background-color: yellow;
}
.citybox{
  width: 500px;
  height: 500px;
  background-color: blue;
}

#cityprova{
  background-image: url('https://cdn.pixabay.com/photo/2018/02/26/14/22/venice-3183168__340.jpg');

}
