*{
  margin: auto;
  padding: 0;
}
.container{
  width: 500px;
  height: 800px;
  background-color: yellow;
}
.citybox{
  width: 500px;
  height: 500px;
  background-color: blue;
}

#cityprova{
  background-image: url('https://cdn.pixabay.com/photo/2016/03/24/12/34/venice-1276664__340.jpg');
  background-size:cover;
  background-position: center;


}
